.img-patriots {
    width:200px;
}

.page-header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(51, 139, 255);
}


/* .container{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    border-style: solid;
    border-width: thin;
    padding-top:30px;
    padding-bottom: 70px;
} */
